.container-dashboard {
  width: 100%;
  height: 100%;
}

.section-home {
  width: 100%;
  height: 100%;
  display: flex;
}
.menubar-section {
  width: 100%;
  border: 1px solid #353a40;
  background: #353a40;
  height: 100%;
}
.dashboard-section {
  width: 75%;
  border: 1px solid red;
  box-sizing: border-box;
  height: 100vh;
}
.dashboard-container {
  display: flex;
  justify-content: end;
}

.menu-ul li {
  list-style: none;
  color: #a0a5ab;
  line-height: 50px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 18px;
}

.menuStyle {
  background-color: red !important;
}
.menu-ul {
  margin: 0px;
  padding: 0px;
}
.menu-data-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  transition: background-color 0.3s ease;
}
.menu-data-li svg {
  font-size: 25px;
  color: #a0a5ab;
}

.menu-data-li:hover {
  background-color: #494e52 !important;
  cursor: pointer;
}

.sub-menu {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.sub-menu li {
  list-style: disc;
}

.Dropdown_dropdown__vST0F {
  margin: 30px;
}

.Dropdown_dropdown__vST0F .Dropdown_menu__71pwC {
  min-width: 300px !important;
}
.Submenu_submenu__INV1Y {
  min-width: 300px !important;
}

.menu-enter {
  opacity: 0.01;
  transform: translateY(-20px);
}

.menu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.menu-exit {
  opacity: 1;
  transform: translateY(0);
}

.menu-exit-active {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

.ant-drawer-body {
  background: #001529 !important;
}

.ant-menu-item.ant-menu-item-selected {
  background: #ff5500 !important;
}
.ant-menu-submenu-title {
  height: 55px !important;
  line-height: 55px !important;
}
.ant-drawer-mask {
  background: none !important;
  pointer-events: none !important;
}

.filter-date-form {
  display: flex;
  gap: 35px;
  justify-content: space-between;
}
.date-filter-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.filter-date-form input {
  background: #345a7c;
  text-transform: uppercase;
  padding: 12px 20px;
  width: 250px;
  font-size: 20px;
  border-radius: 5px;
  /* border: 1px solid #ff5500; */
  color: white;
  border: none;
}
.filter-date-form input:focus {
  outline: none;
}
.filter-date-form label {
  padding-right: 15px;
  font-weight: 500;
  font-size: 20px;
  color: #345a7c;
}
.filter-date-form button {
  width: 200px;
  /* margin-left: 20px; */
  font-size: 20px;
  cursor: pointer;
  background: #ff5500;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

::-webkit-calendar-picker-indicator {
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.header-componet {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  text-align: end;
  background: #345a7c;
}
.dashboard-image {
  width: 100%;
}
.bpal_logo {
  width: 180px; 
  height: auto; 
  max-width: 100%;
}
.ant-menu-submenu.ant-menu-submenu-inline {
  font-size: 18px;
  color: white;
}
@media (min-width: 768px) {
  .mobile-button {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .ant-layout-sider.ant-layout-sider-dark {
    min-width: 300px !important;
  }
}

.ant-table-thead th {
  background: #345a7c !important;
  color: white !important;
}
.ant-table-thead td {
  background: #fafafa !important;
  border: 1px solid #f0f0f0 !important;
}
.toggle-btn{
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.toggle-btn span{
  font-size: 20px;
}
.ant-table-column-sorter.ant-table-column-sorter-full{
  color:white !important;
}
.ant-dropdown-trigger.ant-table-filter-trigger{
  color:white !important;
}

@media only screen and (max-width: 600px) {
  .filter-date-form {
    flex-direction: column;
  }

  .date-input-section {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


/* .anticon.anticon-close {
  display: none !important;
} */
