.container-dashboard {
  width: 100%;
  height: 100%;
}

.section-home {
  width: 100%;
  height: 100%;
  display: flex;
}
.menubar-section {
  width: 100%;
  border: 1px solid #353a40;
  background: #353a40;
  height: 100%;
}
.dashboard-section {
  width: 75%;
  border: 1px solid red;
  box-sizing: border-box;
}
.dashboard-container {
  display: flex;
  justify-content: end;
}

.menu-ul li {
  list-style: none;
  color: #a0a5ab;
  line-height: 50px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 18px;
}

.menuStyle {
  background-color: red !important;
}
.menu-ul {
  margin: 0px;
  padding: 0px;
}
.menu-data-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  transition: background-color 0.3s ease;
}
.menu-data-li svg {
  font-size: 25px;
  color: #a0a5ab;
}

.menu-data-li:hover {
  background-color: #494e52 !important;
  cursor: pointer;
}

.sub-menu {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.sub-menu li {
  list-style: disc;
}

.Dropdown_dropdown__vST0F {
  margin: 30px;
}

.Dropdown_dropdown__vST0F .Dropdown_menu__71pwC {
  min-width: 300px !important;
}
.Submenu_submenu__INV1Y {
  min-width: 300px !important;
}

.menu-enter {
  opacity: 0.01;
  transform: translateY(-20px);
}

.menu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.menu-exit {
  opacity: 1;
  transform: translateY(0);
}

.menu-exit-active {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

.ant-drawer-body {
  background: #001529 !important;
}

.ant-menu-item.ant-menu-item-selected {
  background: #ff5500 !important;
}
.ant-menu-submenu-title {
  height: 55px !important;
  line-height: 55px !important;
}
.ant-drawer-mask {
  background: none !important;
  pointer-events: none !important;
}

@media (min-width: 768px) {
  .mobile-button {
    display: none;
  }
}

.anticon.anticon-close{
  display: none !important;
}