body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-form {
  text-align: center;
  width: 500px;
  padding: 40px;
  background:#345a7c;
}

.login-form input {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  padding-left: 20px;
  box-sizing: border-box;
  margin-top: 10px;
}
.login-form button {
  background-color: #ff5500;
  color: white;
  border: 1px solid #ff5500;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-width: 2px 2px 2px 2px;
  text-transform: uppercase;
  transition: all 0.2s;
}
.login-form input:focus {
  outline: none;
}
